* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100dvh;
  background: #fafafa;
}

body * {
  font-family: Helvetica, sans-serif;
}

#main-container {
  display: flex;
  margin-top: 30px;
}

#banner-container,
#form-container {
  flex: 1 1 0;
  width: 50%;
}

#banner-container {
  text-align: right;

  & img {
    margin-right: -15px;
  }
}

#form-container {
  text-align: center;
}
